/*
generales
*/
body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.grisc{
    color:grey;
}
.blanco{
    color:white;
}
.diez{
    font-size: 10px;
}
.titulo1{
    font-weight: bold;
    font-size:16px;
}

/*
login
*/
#login{
    position:absolute;
    top:20%;
    
}

/*
Ingreso
*/
#formIngreso{
    /*position:absolute;
    top:20%;*/
}
.form-control{
    font-size:12px;
}

.econexion, .eanalitica, .estreaming {
    width:25px;
    height:25px;
    background-color: red;
    /*border:1px solid grey;*/
    border-radius:50%;
}
