{% extends 'menuTemplate.html' %}
{% block content %} 
<br><br>
    <div class="container">
        <div class="row" style="background-color: white;">
            <div class="col-12">
                <div class="card" style="margin: 15px;">
                    <div class="card-header">Opciones de búsqueda</div>
                    <div class="card-body">
                        <div class="row">
                            
    
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}