
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="card-title">Detalle actividad</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="card" >
                <div class="row">
                  <div class="col-12">
                    <img class="card-img-top img-fluid" src="{{ url_for('static', filename='environment/'+dato['env']) }}" alt="Card image" style="width:100%">
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{dato['title_name'] }}</h4>
                  <p class="card-text">
                      
                      <table class="table table-bordered table-striped ">
                        <tbody>
                          <tr>
                                <td>
                                    <table class="table">
                                            <tr>
                                              <td>
                                                <tr><td><img class="card-img-top img-responsive" src="{{ url_for('static', filename='activity/'+dato['foto']) }}" alt="Card image" style="width:50%"></td></tr>
                                              </td>
                                              <td> 
                                                  <tr><td class="table-primary">FECHA</td><td>{{ dato['title_date']}}</td></tr>
                                                  <tr><td class="table-primary">CAMARA</td><td>{{ dato['title_idcam']}}</td></tr>
                                                  <tr><td class="table-primary">ZONA</td><td>{{ dato['zona']}}</td></tr>
                                                  <tr><td class="table-primary">SCORE</td><td>{{ dato['title_score']}}</td></tr>
      
                                                  <tr><td class="table-danger">NO AUTORIZADO</td></tr>
                                              </td>
                                            </tr>
                                           
                                    </table>
                                </td> 
                           
                          </tr>
                       
                        </tbody>
                    </table>
                    </p>
                  <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                </div>
              </div>
        </div>
        
        <!-- Modal footer -->
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>-->
        
      </div>
    </div>
 