<div class="row">  
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="nombre">Nombres y apellidos completos</label>
            <input type="nombre" class="form-control" placeholder="" id="nombre" name="nombre" value="{{ datos[3]}}" onclick="buscarp()">
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="empresa">Empresa</label>
            <input type="empresa" class="form-control" placeholder="" id="empresa" name="empresa" value="{{ datos[5]}}">
        </div>
    </div>
</div>
<div class="row">  
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="nombre">Correo electrónico</label>
            <input type="email" class="form-control" placeholder="" id="correo" name="correo" value="{{ datos[4]}}">
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="telefono">Número de contacto</label>
            <input type="text" class="form-control" placeholder="" id="telefono" name="telefono" value="{{ datos[6]}}">
        </div>

    </div>
</div>