<div class="d-flex justify-content-around" id="{{ idcam }}" data-status="{{ camaraestado }}" data-id="{{ dataid }}">
  {% if camaraestado %}
    <i class="bi bi-circle-fill mr-1 ml-1" style="color:green;font-size:18px;" ></i>
  {% else %}
    <i class="bi bi-question-circle-fill mr-1 ml-1" style="color:red; font-size:18px;" ></i>
  {% endif %}
  {% if camaraml %}
    <i class="bi bi-circle-fill mr-1 ml-1" style="color:green;font-size:18px;" ></i>
  {% else %}
    <i class="bi bi-question-circle-fill mr-1 ml-1" style="color:red; font-size:18px;" ></i>
  {% endif %}
  {% if camarastreaming %}
    <i class="bi bi-circle-fill mr-1 ml-1" style="color:green;font-size:18px;" ></i>
  {% else %}
    <i class="bi bi-question-circle-fill mr-1 ml-1" style="color:red; font-size:18px;" ></i>
  {% endif %}
</div>
