<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu/css/normalize.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='menu/css/styles-menu-dist.css') }}">
    <script src="https://kit.fontawesome.com/55f90cd05f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>Menu SFIS</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <nav>
                <div class="logo-nav">
                    <a href="#">
                       
                        <img  src="{{ url_for('static', filename='menu/img/Logo-SFIS.png') }}" alt="Logo SIFS">
                    </a>
                </div>

                <ul class="cont-ul">
                    <li class="usuarios">USUARIOS
                        <ul class="ul-first">
                            <li class="">
                                <a href="#">Perfiles</a>
                            </li>
                            <li>
                                <a href="#">Funciones</a>
                            </li>
                        </ul>
                    </li>
                    <li class="configuracion">CONFIGURACIÓN
                        <ul class="ul-second">
                            <li class="">
                                <a href="/zonas">Zonas</a>
                            </li>
                            <li>
                                <a href="/camaras">Camaras</a>
                            </li>
                            <li>
                                <a href="/rutas">Rutas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="registros">REGISTROS
                        <ul class="ul-third">
                            <li>
                                <a href="/personas">Visitantes</a>
                            </li>
                            <li>
                                <a href="/ingresos">Ingresos</a>
                            </li>
                            <li>
                                <a href="/actividad">Actividad</a>
                            </li>
                        </ul>
                    </li>
                    <li>PARÁMETROS</li>

                    <li><a href="#">
                        <i class="fas fa-search"></i>
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
