<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ titulo }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilosm.css') }}">
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<!-- OP: 3 Funciona siempre como Alerta de ruta -->
<script type="text/javascript">
    iniciarAlerta("UNIQUE",3);
//  setInterval(function(){
//         iniciar("UNIQUE",3);
//  }, 5000)
</script>

<body style="background-image: url('/static/background2.png')">
    <div class="row no-gutters" style="overflow:hidden">
        <div class="col-1" id="rostros" style="padding: 0px">
            <section >
                <div id="faces" style="overflow-y: scroll;max-height: 100vh;">
                </div>
            </section >
        </div>
        <div class="col-11">
            <div id="solicituddb" class="d-flex bd-highlight justify-content-between align-items-center" style="font-weight:bold; background-color:black">
                <h5 id="titlequery" class="mb-1 ml-1 mr-1 mt-1" style="color:white; font-weight:bold;">RUTA</h5>
                <div class="btn-group mr-1 ml-1 mb-1 mt-1" role="group" aria-label="Basic example">
                    <button type="button" name="UNIQUE" class="btn btn-warning btn-sm" onclick="onoffAlert(this.name,3)" style="font-weight:bold;">Ruta</button>
                    <button type="button" name="UNIQUE" class="btn btn-light btn-sm" onclick="onoffAlert(this.name,2)" style="font-weight:bold;">Detección</button>
                    <button type="button" name="FECHA" class="btn btn-secondary btn-sm" onclick="onoffAlert(this.name,1)" style="font-weight:bold;">Inspección</button>
                </div name="FECHA">
            </div>
            <div class="row no-gutters" style="overflow-y:auto; max-height:100vh;">
                <div class="col-12" id="actividad">
                    <section >
                        <div id="registros">
                        </div>
                    </section>
                </div>
            </div>
        </div>
        
    </div> 
    
    
    

</body>

</html>
<div class="modal fade" id="detalleA">
    
</div>
