<table class="table table-bordered table-sm table-hover" style="overflow:none">
<thead>
    <tr class="table-warning">
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Cámara</th>
        <th>Score</th>
        <th></th
      </tr>
</thead>
<tbody>
    {% for registro in registros %}
      <tr  class="{{registro['clase']}}">
        <td>{{registro['title_date']}}</td>
        <td>{{registro['title_name']}}</td>
        <td>{{registro['zona']}}</td>
        {% if registro['title_score'] < 50  %}
        <td>{{registro['title_score']}}</td>
        {% else %}
        <td>{{registro['title_score']}}</td>
        {% endif %}
        <td><button class="btn btn-primary btn-sm"  id ="{{loop.index0 }}" onclick="detalleA(this.id)" style="height:20px;padding:1px;font-weight:bold;font-size:12px">Detalle</button></td>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

